body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

p, h1 {
    margin: 0;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 5px;
    padding: 6px 20px;
}

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin-bottom: 15px;
}

.hero img {
    font-size: 24px;
    color: #f9faf8;
}

.section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding: 20px;
    margin-bottom: 20px;
}

.ads {
    width: 450px;
}

.ads h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.ads p {
    font-size: 18px;
    color: #e5e7eb;
}

.section-1 img {
    background-color: #e5e7eb;
    width: 450px;
    height: 200px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-2 {
    padding: 20px;
    margin-bottom: 20px;
}

.section-2 h2 {
    text-align: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}

.img-container {
    display: flex;
    
}

.random-img {
    width: 200px;
    margin: 0;
}

.random-img img {
    border: 3px solid #3882f6;
    border-radius: 10px;
    width: 160px;
    height: 160px;
    display: flex;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
}